main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section#sidebar-section {
    width: 200px;
    height: 100%;
}

section#content-section {
    width: calc(100vw - 250px);
    height: auto;
}