.product-side-prices::-webkit-scrollbar,
.product-card-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.product-side-prices::-webkit-scrollbar-track,
.product-card-body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
}

.product-side-prices::-webkit-scrollbar-thumb,
.product-card-body::-webkit-scrollbar-thumb {
    background: transparent;
}

.product-side-prices::-webkit-scrollbar-thumb:hover,
.product-card-body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

div.product-card {
    height: 190px;
    width: 440px;
    background-color: #ffffff;
    border-left: .5em solid var(--secondary-color);
    border-radius: 1em;
    position: relative;
    padding: 1.6em;
    box-shadow: 0 0 .625em .0625em rgba(0, 0, 0, .6);
    transition: transform 750ms cubic-bezier(0, .09, 0, .96);

    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.product-card:hover {
    transform: scale(105%);
}

div.product-card > div.product-card-show-more {
    position: absolute;
    top: 1.56em;
    right: 1.56em;
}

div.product-card-show-more > button.show-more-btn {
    outline: unset;
    border: unset;
    background: transparent;
}

div.product-card > div.product-card-show-more:hover {
    cursor: pointer;
    transform: scale(120%);
}

/* ProductCard left side */
div.product-card > div.product-card-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.product-card-side > div.product-side-image {
    height: 60%;
}

div.product-card-side > div.product-side-prices {
    height: 40%;
    width: 100%;
}

div.product-card-side > div.product-side-image > img {
    max-height: 100%;
    max-width: 100%;
}

div.product-card-side > div.product-side-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

div.product-side-prices div > span.product-card--discount-price {
    font-weight: 600;
}

div.product-side-prices > div {
    padding-bottom: .25em;
}

div.product-side-prices > p.product-card--discount-percent {
    border-radius: .6em;
    padding: .12em .5em;
}

/* ProductCard right side */
div.product-card > div.product-card-body {
    width: 60%;
    padding-left: .8em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.product-card-body > div.body-title,
div.product-card-body > div.body-supermarket,
div.product-card-body > div.body-additional,
div.product-card-body > div.body-availability {
    height: 25%;
    width: 100%;
}

div.product-card-body > div.body-title,
div.product-card-body > div.body-additional {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.product-card-body > div.body-title {
    font-weight: 600;
}

div.body-additional:hover .product-card--additional,
div.body-title:hover .product-card--title {
    margin-left: -500%;
    transition: all 10s linear;

    overflow: inherit;
    width: auto;
    text-overflow: inherit;
    cursor: all-scroll;
}

@media screen and (min-width: 1500px) {
    div.product-card {
        height: 175px;
        width: 410px;
        font-size: 15px;
    }
    div.product-card * {
        font-size: 15px;
    }
}

@media screen and (min-width: 1700px) {
    div.product-card {
        height: 165px;
        width: 380px;
        font-size: 14px;
    }
    div.product-card * {
        font-size: 14px;
    }
}