:root {
    --primary-color: #012a4a/*#182541*//*#14213d*/;
    --secondary-color: #fca311;
    --background-color: #f8fafb;
    
    --light-gray: #f5f3f4;
    
    --light-red: #db222a;
    --medium-orange: #f77f00;
    --medium-yellow: #ffd819;
    --light-green: #80b918;
}

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-size: 24px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/public/fonts/Ubuntu/Ubuntu-Italic.woff2') format('woff2'),
        url('/public/fonts/Ubuntu/Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}